<h2><%= user.name %>'s profile</h2>
<table class="table">
  <tr>
    <td>Name:</td>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <td>GitHub:</td>
    <td><%= user.address %></td>
  </tr>
  <tr>
    <td>Twitter:</td>
    <td><%= user.linkedin %></td>
  </tr>
  <tr>
    <td>Facebook:</td>
    <td><%= user.phonenum %></td>
  </tr>
</table>